@font-face {
    font-family: "Super Mario World";
    src: url(/fontes/SuperMarioWorld.ttf);
}

@keyframes animarInimigo {
    from {
        right: -100px;
    }
    to {
        right: 105%;
    }
}

@keyframes puloPersonagem {
    0%{
        bottom: 70px;
    }
    50%{
        bottom: 250px;
    }
    60%{
        bottom: 240px;
    }
    70%{
        bottom: 240px;
    }
    80%{
        bottom: 240px;
    }
    90%{
        bottom: 240px;
    }
    100%{
        bottom: 70px;
    }
    
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.puloPersonagem{
    animation: puloPersonagem 500ms ease-out;
}

.animarInimigo{
    animation: animarInimigo 18s infinite linear;
}

    

#cenario{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image:url(./img/cenario.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

#ceu{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image:url(./img/cenarioceu.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;

}

#personagem{
    position: absolute; 
    width: 60px;
    height: 60px;
    background-image:url(./img/marioParadoLadoDireito.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    bottom: 80px;
    left: 0;
    

}

#inimigo{
    position: absolute; 
    width: 50px;
    height: 50px;
    background-image:url(./img/inimigoLadoEsquerdo.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    bottom: 80px;
    right: -100px;

}

#menudojogo{
    position: absolute; 
    width: 1000px;
    height: 200px;
    background-image:url(./img/menuDoJogo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    top: -5px;


}

#bloco{
    position: absolute; 
    width: 50px;
    height: 50px;
    background-image:url(./img/bloco.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    top: 380px;
    left: 350px;


}

#tempo{
    position: absolute;
    top: 100px;
    right: 600px;
    color: #ffdf73;
    
}

#vidas{
    position: absolute;
    top: 100px;
    left: 380px;
    color: white;
    top: 100px;
}

#moedas{
    position: absolute;
    top: 100px;
    right: 350px;
    color: white;
    top: 55px;

}

#pontos{
   
        position: absolute;
        top: 120px;
        right: 350px;
        color: white;
        top: 95px;
    
   
}

#iniciar{
    position: absolute;
    padding: 3px 3px;
    width: 13%;
    height: 6%;
    text-align: center;
    top: 50%;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    display: block;
}

#reiniciar{
    position: absolute;
    padding: 3px 3px;
    width: 13%;
    height: 6%;
    text-align: center;
    top: 50%;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

